.slick-prev,
.slick-next {
  width: fit-content;
  height: fit-content;
  top: 45%;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 1;
}
.slick-prev {
  transform: translateX(-165px);
}

.slick-next {
  transform: translateX(165px);
}

.slick-prev:before,
.slick-next:before {
  display: inline-block;
  opacity: 1;
  font-size: 2rem;
  color: #656565;
}
.slick-prev:before {
  content: "\276E";
}

.slick-next:before {
  content: "\276F";
}

.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 0.7;
}

@media (min-width: 640px) {
  .slick-prev,
  .slick-next {
    top: 35%;
  }

  .slick-prev {
    transform: translateX(-250px);
  }

  .slick-next {
    transform: translateX(250px);
  }

  .slick-prev:before {
    font-size: 4rem;
  }

  .slick-next:before {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  .slick-prev {
    transform: translateX(-310px);
  }

  .slick-next {
    transform: translateX(310px);
  }
}
